.firstscreen {
  background-image: url(../img/background-1\ 1.png);
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 110px 0 101px 0;
}

.firstscreen .container {
  position: relative;
  z-index: 2;
}
.firstscreen::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.firstscreen-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -15px;
}
.firstscreen__item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 544px;
  margin: 0 15px;
}
.firstscreen__logo-link {
  margin-bottom: 32px;
}
.firstscreen-logo {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.firstscreen-logo::after {
  content: 'it';
  color: #ec7979;
}

.title-white__firstscreen {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 39px;
}
.title-white__firstscreen::after {
  content: '';
  display: block;
  width: 64px;
  height: 1px;
  background: #ffffff;
  margin: 45px 0 0;
}
.title-text__firstscreen {
  font-size: 1rem;
  color: #86878b;
  font-weight: 300;
  margin-bottom: 67px;
  width: 282px;
  font-family: 'Open Sans', sans-serif;
}

.firstscreen-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #ffffff;
  border-radius: 8px;
  width: 370px;
  margin: 0 15px;
  overflow: hidden;
}
.firstscreen__form-content {
  padding: 10px 59px 61px;
}
.firstscreen__form-title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}
.firstscreen__form-title span {
  color: #ec7979;
  text-transform: uppercase;
}
.firstscreen-form__item {
  margin-bottom: 19px;
}
.firstscreen-form__item:last-child {
  margin-bottom: 0px;
}
.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #bdbdbd;
}
input[name='user_name'],
input[name='user_email'],
input[name='user_password'] {
  font-size:0.875;
  border: none;
  width: 100%;
  outline: 0;
  padding: 5px 15px;
  height: 19px;
  background-color: #ffffff;
  border-bottom: 1px solid #bdbdbd;
  color: #ec7979;
}
input[name='user_name']:focus,
input[name='user_email']:focus,
input[name='user_password']:focus {
  border-bottom: 1px solid #ec7979;
}
.button.firstscreen__button {
  width: 100%;
  margin: 0;
  padding: 21px 0;
}
