.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

.header-title {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.header-title::after {
  content: 'it';
  color: #ec7979;
}
.title-logo:hover {
  transform: rotate(45deg);
}

.title-logо::after {
  content: '';
  position: absolute;
  display: block;
  height: 30px;
  width: 2px;
  background-color: #d98943;
}
.header-menu {
  display: flex;
  margin: 0 15px;
}
.menu {
  width: 489px;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-list__item {
  margin-right: 48px;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.menu-list__link {
  color: rgb(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.8s ease;
}
.menu-list__item:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.menu-list__link:hover {
  color: #ec7979;
}
/* .menu-list__link::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  transition: all 0.1s ease-in-out;
  opacity: 1;
} */
