.pricing {
  background-color: #e5e5e5;
  padding: 100px 0 89px 0;
}
.pricing-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px 0;
}
.pricing-item {
  width: 340px;
  margin: 0 15px;
}
.pricing-item:hover {
  transform: translateY(-20px);
  transition: all 0.8s ease;
}

.pricing-item__basic {
  background-color: #333333;
  width: 340px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2px;
}
.pricing-item__basic:hover {
  background-color: #ec7979;
}
.pricing-item__price {
  background-color: #333333;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: auto;
  margin-bottom: 2px;
}
.pricing-item__price:hover {
  background-color: #ec7979;
}
.pricing-item__life {
  background-color: #333333;
  width: 340px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  margin: auto;
  margin-bottom: 2px;
}
.pricing-item__life:hover {
  background-color: #ec7979;
}
.pricing-item__list {
  background-color: #ffffff;
  width: 340px;
  color: #86878b;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2px;
}

.pricing-item__list:hover {
  color: #ffffff;
  background-color: #ec7979;
}
.pricing-item__list:last-child {
  margin-bottom: 0;
}
