@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Raleway:wght@400;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('../css/title.css');
@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/footer.css');
@import url('../css/firstscreen.css');
@import url('../css/contact.css');
@import url('../css/tab.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.download {
  position: relative;
  padding: 11px 0;
  width: 135px;
  border: 1px solid #ffffff;
}

.download:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  border: 1px solid #ec7979;
  background: #ec7979;
}
.link {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.button {
  display: block;
  border: none;
  background: #ec7979;
  margin: 69px auto 0;
  padding: 11px 0;
  width: 166px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
