.tabs {
  padding: 100px 0 50px;
}
.tabs-row {
  margin: 0 -15px;
}

.tabs__item {
  display: flex;
  text-align: center;
  margin: 0 15px;
  width: 50%;
}
.tabs__tab {
  width: 184px;
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 7px 7px 0 0;
}

.tabs__tab.active {
  font-weight: 700;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 7px 7px 0 0;
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
}

.tabs__content.active {
  display: none;
  margin: -1px 15px 0;
  display: flex;
  border: 1px solid #c6cbcd;
  justify-content: space-between;
}
.tabs__content {
  display: none;
}

.tabs__description {
  padding: 54px 0 54px 100px;
  margin-right: 30px;
  width: 670px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tabs__title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  margin-bottom: 73px;
}
.tabs__text-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.tabs__text-span {
  display: block;
}
.tabs__text-span:nth-child(4) {
  margin-top: 24px;
}
.tabs__button {
  margin: 80px 0 0;
}
.tabs__img {
  width: 470px;
}
.tabs__img img {
  width: 100%;
  height: 100%;
}
